infra/n8n/workflows/citypass-scheduled-crawler.json
{
  "name": "CityPass - Scheduled Crawler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/api/admin/sources",
        "options": {}
      },
      "id": "2",
      "name": "Get Active Sources",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "sources",
        "options": {}
      },
      "id": "3",
      "name": "Split Sources",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/api/admin/trigger-crawl",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sourceId",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4",
      "name": "Trigger Crawl",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "5",
      "name": "Wait Between Sources",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1050, 300],
      "webhookId": "wait-between-sources"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Active Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Sources": {
      "main": [
        [
          {
            "node": "Split Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Sources": {
      "main": [
        [
          {
            "node": "Trigger Crawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Crawl": {
      "main": [
        [
          {
            "node": "Wait Between Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between Sources": {
      "main": [
        [
          {
            "node": "Split Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
